{% extends 'base.html' %}
{% load static %}


{% block content %}

<div>
  <div style="text-align: center; max-width: 500px; margin: 4rem auto;">

    <!-- 프로필이 있다면 -->
    {% if target_user.profile %}
      <img src="{{ target_user.profile.image.url }}" alt="" style='height: 10rem; width: 10rem; border-radius: 10rem; margin-bottom: 1.5rem; object-fit: cover;'>
      <h2 style='font-family: "NanumSquareRoundOTFB";'>
        {{ target_user.profile.nickname }}
        {% if target_user == user %}
          <a class="material-icons" href="{% url 'profileapp:update' pk=target_user.profile.pk %}" style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem; font-size: 1.3rem;">
            edit
          </a>
        {% endif %}
      </h2>
      <h5 style='margin-bottom: 3rem;'>
        {{ target_user.profile.message }}
      </h5>
    <!-- 프로필이 없다면 -->
    {% else %}
      {% if target_user == user %}
        <a href="{% url 'profileapp:create' %}">
          <h2 style="font-family: NanumSquareRoundOTFB;">
            Create Profile
          </h2>
        </a>
      {% else %}
        개인 설정을 마치지 않은 유저입니다.
      {% endif %}
    {% endif %}
    
    {% if target_user == user %}
      <a class="material-icons" href="{% url 'accountapp:update' pk=user.pk %}" style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem; font-size: 1.3rem;">
        settings
      </a>          <a class="material-icons" href="{% url 'accountapp:delete' pk=user.pk %}" style="box-shadow: 0 0 4px rgb(255, 111, 111); border-radius: 10rem; padding: .4rem; font-size: 1.3rem;">
        cancel
      </a>
    {% endif %}

  </div>

  <div>

    
  <div>
    <style>

      .container {
        padding: 0;
        margin: 0, auth;
      }

      .container a {
        width: 40%;
        max-width: 250px;
      }

      .container div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
      }

      .container img {
        width: 100%;
        border-radius: 1rem;
      }
    </style>

    {% if object_list %}
      <div class="container">
        {% for article in object_list %}
          <!-- Article -->
          <a href="{% url 'articleapp:detail' pk=article.pk %}">
            <div>
              <img src="{{ article.image.url }}" alt="">
            </div>
          </a>
        {% endfor %}
      </div>    
      <script src="{% static 'js/magicgrid.js' %}"></script>
    {% else %}
      <div class="text-center">
        <h1>작성된 게시물이 없습니다.</h1>
      </div>
    {% endif %}

    {% include 'snippets/pagenation.html' with page_obj=page_obj %}

    <div style='text-align: center;'>
      <a href="{% url 'articleapp:create' %}" class='btn btn-dark rounded-pill col-3 mt-3 mb-3'>Create</a>
    </div>
</div>

  </div>
</div>

{% endblock content %}
